:root {
  --jumbotron-padding-y: 1rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #B1D4E0;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 3);
    padding-bottom: calc(var(--jumbotron-padding-y) * 3);
  }
}

.py-5.map-container {
  padding-top: 0px !important;
  padding-bottom: 5px !important;
}

.py-5 {
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}

@media (min-width: 768px) {
  .py-5 {
    padding-top: 2rem!important;
    padding-bottom: 2rem!important;
  }
  .py-5.map-container {
    padding-top: 0px !important;
    padding-bottom: 2rem !important;
  }
}



.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

h2.jumbotron-heading{
  margin-top: 10px;
}


.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }




.navbar {
  background-color: #145DA0;
}

.header-icon{
  margin-right: 5px;
}

.counter-box {
	display: block;
	background: #f6f6f6;
	padding: 12px 20px 5px;
	text-align: center;
  margin: 10px;
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #028bc4; /* #666 */
	line-height: 28px
}


#map { width: 100vw; max-height: 700px; height: 90vw; }

.leaflet-container {
  height: 900px;
  max-width: 100%;
  max-height: 100%;
  background-color: rgba(255,0,0,0.0);
}

.leaflet-container a {
  color: #666;
}



.info { padding: 6px 8px; font: 14px/16px Arial, Helvetica, sans-serif; background: rgba(255, 255, 255, 0.8); box-shadow: 0 0 15px rgba(165, 165, 165, 0.2); border-radius: 5px; } 
.info h4 { margin: 0 0 5px; color: #777; }
.legend { text-align: left; line-height: 18px; color: #555; } 
.legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }
#selected-countries {
    margin-top: 20px;
}
#selected-countries button {
    margin-left: 5px;
}
.selected-country {
    margin-bottom: 5px;
}
.selected-country button {
    margin-left: 5px;
}

.accordion-button{
  font-size: 1.2rem;
}

.accordion-button:not(.collapsed){
  background-color: #028bc4;
  color: #FFF;
}

.accordion-button:focus {
  box-shadow: none;
}


.nav-link{
  color: #fff;
}

.nav-link:hover{
  color: #d2d2d2;
}

.accordion-button{
  font-weight: bold;
}

.continent-counter{
  font-weight:lighter;
  padding: 5px;
}

.worldmap{
  width: 90vw;
  max-width: 1017px;
  height: auto;
  margin: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  color: #7c7c7c;
}

a:hover{
  color: #aaaaaa;
}

.float-right{
  float: right;
}